.z{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5vw;
    /* background-color: yellow; */
}

.z-1-1{
    display: flex;
    align-items: center;
    margin-bottom: 2vw;
}

.z-1-1-1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2vw;
    height: 2vw;
    /* aspect-ratio: 1/1; */
    font-size: 0.75vw;
    font-weight: 700;
    background-color: #FFFFFF;
    border-radius: 0.5vw;
    box-shadow: 0.1vw 0.1vw 0.2vw #9D9D9D;
}

.z-1-1-2{
    font-size: 1.9vw;
    font-weight: 700;
    margin-left: 0.85vw;
}

img{
    width: 40vw;
    /* aspect-ratio: 570/380; */
    margin-bottom: 2.1vw;
}

.z-1-3{
    font-size: 1.12vw;
    font-weight: 700;
    margin-bottom: 2.3vw;
}

.z-1-4{
    width: 40vw;
    font-weight: 700;
    aspect-ratio: 570/65;
    font-size: 1.14vw;
}


.z-2{
    width: 40vw;
    /* aspect-ratio: 570/698; */
    height: 48.5vw;
    border-radius: 0.5vw;
    box-shadow: 0.1vw 0.1vw 0.2vw #9D9D9D;
    margin-top: -6.95vw;
}

.z-2-1{
    height: 44.6vw;
    padding-top: 2.5vw;
    padding-bottom: 17.8vw;
    padding-left: 2vw;
    background-color: #3560F6;
    border-radius: 0.5vw 0.5vw 0vw 0vw;
}

.z-2-1-1{
    font-size: 1.5vw;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 2vw;
}

/* .z-2-1-2{
    display: flex;
    flex-direction: column;
} */

.z-2-1-2-1{
    width: 12.2vw;
    height: 2vw;
    /* aspect-ratio: 176/30; */
    background-color: #FFFFFF;
    border-radius: 0.5vw;
    border: none;
    outline: none;
    margin-bottom: 1vw;
    font-size: 1vw;
    padding-left: 0.83vw;
    appearance: none;
}

.z-2-1-2-2, .z-2-1-2-3{
    width: 34vw;
    height: 2vw;
    /* aspect-ratio: 488/30; */
    background-color: #FFFFFF;
    border-radius: 0.5vw;
    border: none;
    outline: none;
    margin-bottom: 1vw;
    font-size: 1vw;
    padding-left: 0.83vw;
    appearance: none;
}

.table__outer{
    width: 33vw;
    /* height: 11vw; */
    padding-top: 2vw;
    padding-bottom: 2vw;
    background-color: #5580F7;
    border-radius: 0.5vw;

}

table.z-2-1-3{
    /* width: 33vw; */
    /* height: 7vw; */
    /* background-color: #5580F7; */
    /* padding-top: 20px; */
    /* padding-bottom: 2vw; */
}

th, td{
    /* vertical-align: middle; */
    font-size: 1vw;
    color: #FFFFFF;
    /* border: 1px solid black; */
    height: 2vw;

}

th{
    width: 8.4vw;
    text-align:left;
    font-weight: 400;
    padding-left: 2vw;
}

.z-2-2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003FF5;
    height: 3.9vw;
    font-size: 1vw;
    color: #FFFFFF;
    border-radius: 0vw 0vw 0.5vw 0.5vw;
}
